body {
  font-family: 'Arial', sans-serif;
  direction: rtl;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

header {
  background-color: #007bff;
  padding: 10px;
  color: white;
  text-align: center;
}

header nav a {
  color: white;
  text-decoration: none;
  margin: 0 10px;
}

section {
  padding: 20px;
}

h2 {
  color: #007bff;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}